/* the reset selector */
* {
	margin: 0;
	padding: 0;
}

/* the styles for the html */
html {
	background-image: url("../images/bats.gif");
}

/* the styles for the body */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 98%;         /* changed from 800px */
	max-width: 960px;
	margin: 0 auto; 
	border: 3px solid black;
	background-color: #bef2fc;

}

a:focus, a:hover {
	font-style: italic;
}

/* style for header */
header{
	
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid black;
	background-image: 
		-webkit-linear-gradient(
	    30deg, #4724c7 0%, #4724c7 30%, rgba(63, 138, 209, 0.568) 50%, #4724c7 80%, #4724c7 100%);
	background-image: 
		-moz-linear-gradient(
	    30deg, #4724c7 0%, #4724c7 30%,  rgba(63, 138, 209, 0.568) 50%, #4724c7 80%, #4724c7 100%);
	background-image: 
		-o-linear-gradient(
	    30deg, #4724c7 0%, #4724c7 30%,  rgba(63, 138, 209, 0.568) 50%, #4724c7 80%, #4724c7 100%);
	background-image: 
		linear-gradient(
	    30deg, #4724c7 0%, #4724c7 30%,  rgba(63, 138, 209, 0.568) 50%, #4724c7 80%, #4724c7 100%);
}
header img {
	float: left;
	padding: .5em 3.75%;            	
}
header h2 {
	font-size: 170%;
	color: white;
	padding: 0 30px 0;

}
header h3 {
	font-size: 130%;
	color: gray;
	font-style: italic;
	padding: 0 30px 0;
}

.shadow{
	text-shadow: 2px 2px 2px black;
}

/* the styles for the navigation menu */
#nav_menu {
	clear:left;	
}
#nav_menu ul {
    margin: 0;
	padding: 0; 
}

#nav_menu ul {
    list-style-type: none;
	position: relative; 
}
#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: #4724c7;
    color: white;
	font-weight: bold; 
}
#nav_menu ul li { 
	float: left;
	width: 20% 
}

#nav_menu a.current{
	color: rgb(25, 212, 66);
}

#nav_menu ul ul {
	width:100%;
    display: none;
    position: absolute;
	top: 100%; 
}
#nav_menu ul ul li {
    float: none;
	position: relative; 
}
#nav_menu ul ul li ul {
	width: 100%;
    position: absolute;
    left: 100%;
	top: 0; 
}
#nav_menu ul ul ul li{
	width: 100%;
}
#nav_menu ul li.lastitem ul li ul {
	width: 100%;
    position: absolute;
    right: -100%;
	top: 0; 
}
#nav_menu ul li.lastitem a { 
	width: 100%; 	
}

#nav_menu ul li:hover > ul { 
	display: block; 
}
#nav_menu > ul::after {
    content: "";
    clear: both;
	display: block; 
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus { 
	background-color: gray;
}

/* the styles for the main */
main{
	clear: left;
}
#nav_area{
	float:left;
	width: 13%;
}
#nav_area figure{
	text-align: center;
    margin: .5em .5em .5em .5em;
    border: 2px dotted black;
}
#nav_area figure img{
	border: 1px solid black;
}
#nav_area figure figcaption{
	display: block;
	font-weight: bold;
	padding-top: .25em;
	margin-bottom: 2em;
	border-bottom: 2px solid black;
}

#nav_area figure a{
	color: black;
	
}


article{
	float: left;
	width: 63%;
	padding-left: 1em;
	padding-right: 1em;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

aside{
	float: right;
	width: 20%;         	   
	padding-bottom: 20px;
}
aside h2{
	padding-top: 1.5em;
	padding-left: .5em;
	padding-bottom:1.5em;
}
aside p{
	padding-left: .5em;
	padding-top: 1em;
}
aside a{
	padding-left: 2.5em;
}



/* the styles for the footer */
footer{
	clear: both;
	background-color: #4724c7;
}
footer p a{
	color:rgb(27, 182, 123);
}
footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
}

